<!DOCTYPE html>
<html>
{% include head.html %}

<script>
  function expandNarrative(id) {
    document.getElementById('narrative-summary-' + id).style.display = 'none';
    document.getElementById('narrative-full-' + id).style.display = 'block';
  }
  
  function collapseNarrative(id) {
    document.getElementById('narrative-full-' + id).style.display = 'none';
    document.getElementById('narrative-summary-' + id).style.display = 'block';
  }
</script>

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}
  
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>